{%include 'adminheader.html'%}
{%if data['up']%}
<center>
    
    <form method="post">
        <h1>Update HR</h1>
        <table class="table" style="width:500px;">
            <tr>
                <th>First Name</th>
                <td><input type="text"  value="{{data['up'][0]['fname']}}" name="fname" required=""></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text"  name="lname" value="{{data['up'][0]['lname']}}" required=""></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text"  name="place" value="{{data['up'][0]['place']}}" required=""></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text"  name="phone" value="{{data['up'][0]['phone']}}" required=""></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email"  name="email" value="{{data['up'][0]['email']}}" required=""></td>
            </tr>
             <!-- <tr>
                <th>Designation</th>
                <td><input type="text"  name="desi" value="{{data['up'][0]['designation']}}" required=""></td>
            </tr> -->
            <tr>
                <th>Qualification</th>
                <td><input type="text"  name="qualification" value="{{data['up'][0]['qualification']}}" required=""></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="update" value="Register"></td>
            </tr>
        </table>
        {%else%}
<br>
         <center>
    <form method="post">
        <h1>Manage HR</h1>
        <br>
        <table class="table" style="width:500px;">
            <tr>
                <th>First Name</th>
                <td><input type="text"  name="fname" required="" class="form-control"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text"  name="lname" required="" class="form-control"></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" name="place" required="" class="form-control"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text"  name="phone" required="" class="form-control"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email"  name="email" required="" class="form-control"></td>
            </tr>
            <!-- <tr>
                <th>Desigantion</th>
                <td><input type="text"  name="desi" required="" class="form-control"></td>
            </tr> -->
            <tr>
                <th>Qualification</th>
                <td><input type="text"  name="qualification" required="" class="form-control"></td>
            </tr>
            <tr>
                <th>Username</th>
                <td><input type="text"  name="uname" required="" class="form-control"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password"  name="passw" required="" class="form-control"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" class="btn btn-success" name="submit" value="submit"></td>
            </tr>
        </table>
{%endif%}
       </div>
     </div>
   </div>

 </section><!-- End Hero -->


        <center><h1> HR</h1>
        <table class="table" style="width:500px;">
            <tr>
                <th>Slno.</th>
                <th>HR Name</th>
                <th>Place</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Qualification</th>
                
            </tr>
            {% for row in data['emp']%}
                <tr>
                   <td>{{loop.index}}</td>
                   <td>{{row['fname']}} {{row['lname']}}</td>
                   <td>{{row['place']}}</td>
                   <td>{{row['phone']}}</td>
                   <td>{{row['email']}}</td>
                   <td>{{row['designation']}}</td>
                   <td>{{row['qualification']}}</td>
                   <td><a href="?action=update&id={{row['hr_id']}}&lid={{row['login_id']}}" class="btn btn-success" >update</a></td>
                   <td><a href="?action=delete&id={{row['hr_id']}}&lid={{row['login_id']}}" class="btn btn-danger" >delete</a></td>
                   
           
                </tr>
                {%endfor%}

        </table>
    </form>
</center>
{% include 'footer.html'%}