<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

	<a href="hrhome">Home</a>
	<a href="hr_manage_vaccancy">Manage vaccancy</a>
	<a href="hr_manage_trainee">manage trainee</a>
	<a href="hr_trainee_appraisal">create trainee appraisal</a>
	<a href="hr_send_promotion">send promotion</a>
	<a href="hr_send_notification">send notification</a>
	<a href="hr_view_queries">view queries</a>
	<a href="hr_view_feedback">view feedbacks</a>
	<a href="/">logout</a>


















</body>
</html>