{%include 'traineeheader.html'%}

<center>
    <form method="post">
        <h1>Feedback</h1>
        <br>
        <table class="table" style="width:500px;">
            <tr>
                <th>Feedback</th>
                <td><input type="text"  name="feedback" required="" class="form-control"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" class="btn btn-success" name="submit" value="submit"></td>
            </tr>
        </table>
</form>
</center>


        <center><h1> Feedback</h1>
        <table class="table" style="width:500px;">
            <tr>
                <th>Slno.</th>
                <th>Feedback</th>
                
                
            </tr>
            {% for row in data['feedback']%}
                <tr>
                   <td>{{loop.index}}</td>
                   <td>{{row['feedback']}}</td>
                   
                   <td><a href="?action=delete&id={{row['feedback_id'] }}" class="btn btn-danger" >delete</a></td>
                   
           
                </tr>
                {%endfor%}

        </table>
    </form>
</center>
{% include 'footer.html'%}